body{
  background-color: #fafafa;
  color: #546e7a;
  margin-bottom: 50px;
}
h2{
  color: #546e7a;
  font-size: 25px;
  padding: 10px 0;
}
.card-title{
  font-size: 15px;
  
  font-weight: bold;
}
.cardGames-titleAndStars{
  background-color: #fff;
  padding-bottom: 20px;
}